<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link href='/styles-account.css' rel='stylesheet'>
    <link href='/styles.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <nav>
        <div sec:authorize="hasRole('ADMIN')" class="button">
            <a th:href = "@{/problemy}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{../problem-add}">
                <img loading="lazy" decoding="async" src="/add-icon.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{../}">
                <img loading="lazy" decoding="async" src="/problem-icon-svg.svg">
            </a>
        </div>
        <div class="button selected-tab">
            <a th:href="@{../account}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
    </nav>

    <div id="start">
        <div class="profile-banner">
            <img id="profile-pic" src="https://placehold.co/200x200" alt="profilovka">
            <div class="name">
                <p th:text="${userDetails.name}"></p>
                <p>učitel</p>
            </div>
        </div>
        <div id="important-stats">
            <div>
                <h2>158</h2>
                <p>Vyreseno problemů</p>
            </div>
            <div>
                <h2>38,4</h2>
                <p>Ztravený čas</p>
            </div>
            <div>
                <h2>262</h2>
                <p>Dostáno problémů</p>
            </div>
        </div>
        <h1>Informace</h1>
        <div id="udaje">
            <div class="name">
                <h2>Email</h2>
                <p th:text="${userDetails.email}">bozo@ass.com</p>
            </div>
            <div class="name">
                <h2>Tento měsíc</h2>
                <p>35h</p>
            </div>
            <div class="name">
                <h2>Heslo</h2>
                <p>**********</p>
            </div>
            <div class="name">
                <h2>Pracuje od</h2>
                <p>8.9.2024</p>
            </div>
        </div>
    </div>

<!--    <h1>Profil</h1>-->
<!--    <div id="start">-->
<!--        <img id="profile-pic" src="https://placehold.co/200x200" alt="profilovka">-->
<!--        <div id="udaje">-->
<!--            <div id="name">-->
<!--                <h2>Jméno</h2>-->
<!--                <p th:text="${userDetails.name}"></p>-->
<!--            </div>-->
<!--            <div id="email">-->
<!--                <h2>Email</h2>-->
<!--                <p th:text="${userDetails.email}">bozo@ass.com</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h2 id="stats-text">Statistiky</h2>-->
<!--    <div id="stats">-->
<!--        <div class="stat">-->
<!--            <h3>Zadaných problemů:</h3>-->
<!--            <p th:text="${problemsCount}"></p>-->
<!--        </div>-->
<!--        <div class="stat">-->
<!--            <h3>Úspěšnost vyřešení:</h3>-->
<!--            <p th:text="${percentage + '%'}"></p>-->
<!--        </div>-->
<!--        <div class="stat">-->
<!--            <h3>Čas strávený na tvých problémech:</h3>-->
<!--            <p th:text="${timeSpent}"></p>-->
<!--        </div>-->
<!--    </div>-->

    <div sec:authorize="hasRole('ADMIN')">
        <form th:action="@{/api/add-user}" th:object="${addUser}" method="post">
            <input type="text" name="name" th:field="*{name}" placeholder="Jmeno" required>
            <input type="text" name="password" th:field="*{password}" placeholder="Heslo" required>
            <input type="text" name="email" th:field="*{email}" placeholder="Email" required>
            <select name="role" id="role" th:field="*{role}">
                <option th:value="admin">Admin</option>
                <option th:value="user">User</option>
            </select>
            <input type="submit">
        </form>
    </div>

    <footer>
    </footer>
</body>
</html>