<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div sec:authorize="hasRole('ADMIN')" class="button">
            <a th:href = "@{/problemy}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{../problem-add}">
                <img loading="lazy" decoding="async" src="/add-icon.svg">
            </a>
        </div>
        <div class="button selected-tab">
            <a th:href="@{../}">
                <img loading="lazy" decoding="async" src="/problem-icon-svg.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{../account}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
    </nav>
    <div class="top-holder">
        <input type="text" placeholder="Hledat podle nazvu...." id="searchInput">
        <button id="sortButton">SORT</button>
        <h2>Aktivní Problémy</h2>
    </div>
    <main id="main">
        <div id="active-problems">
            <a th:each="p : ${problems}">
                <div class="problemy active" th:id="${p.getID()}">
                    <div th:class="'problem-main-info ' + ${p.fixUserId == null ? 'oba' : (p.fixUserId.lastName == 'Danihel' ? 'pesak' : 'nemec')}">
                        <h3 th:text="${p.getName()}"></h3>
                        <p th:text="${p.getClassId().getName()}"></p>
                        <h4 th:text="${#dates.format(p.getCreated(), 'MM')}"></h4>
                        <button th:id="${p.getID()}" sec:authorize="hasRole('ADMIN')" class="time-button">Start</button>
                    </div>
                    <div class="problem-info" th:text="${p.getComment()}"></div>
                </div>
            </a>
        </div>
<!--        <a>-->
<!--            <div class="problemy">-->
<!--                <div class="problem-main-info">-->
<!--                    <h3>Problém s projektorem</h3>-->
<!--                    <p>Theta</p>-->
<!--                </div>-->
<!--                <div class="problem-info">-->
<!--                    Máme problém v záchodě, někdo nespláchnul hajzl a uvízlo tam hovno asi Lukáš Valla to vysral-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--        <a>-->
<!--            <div class="problemy">-->
<!--            </div>-->
<!--        </a>-->
<!--        <a> -->
<!--            <div class="problemy">-->
<!--                <div class="problem-main-info">-->
<!--                    <h3>Problém s projektorem</h3>-->
<!--                    <p>Theta</p>-->
<!--                </div>-->
<!--                <div class="problem&#45;&#45;info">-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--        <a>-->
<!--            <div class="problemy">-->
<!--                <div class="problem-main-info">-->
<!--                    <h3>Problém s projektorem</h3>-->
<!--                    <p>Theta</p>-->
<!--                </div>-->
<!--                <div class="problem&#45;&#45;info">-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--        <h2>Vyřešené Problémy</h2>-->
<!--        <a th:each="p : ${problemsCompleted}">-->
<!--            <div class="problemy" th:id="${p.getID()}" th:onclick="ShowProblem(this.getAttribute('id'))">-->
<!--                <div th:class="'problem-main-info ' + ${p.fixUserId == null ? 'oba' : (p.fixUserId.lastName == 'Danihel' ? 'pesak' : 'nemec')}">-->
<!--                    <h3 th:text="${p.getName()}"></h3>-->
<!--                    <p th:text="${p.getClassId().getName()}"></p>-->
<!--                    <h4 th:text="${#dates.format(p.getCreated(), 'MM')}"></h4>-->
<!--                </div>-->
<!--                <div class="problem-info" th:text="${p.getComment()}"></div>-->
<!--            </div>-->
<!--        </a>-->
    </main>
    <script src="../main.js"></script>
</body>
</html>