<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="button">
            <a>
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{/problem-add}">
                <img loading="lazy" decoding="async" src="/add-icon.svg">
            </a>    
        </div>
        <div class="button selected-tab">
            <a th:href="@{/static}">
                <img loading="lazy" decoding="async" src="/problem-icon-svg.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{/account}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
    </nav>
    <main id="main">
        <h2>Aktivní Problémy</h2>
        <a th:each="p : ${problems}">
            <div class="problemy">
                <div class="problem-main-info">
                    <h3 th:text="${p.getName()}">Problém s projektoream</h3>
                    <p th:text="${p.getClassId().getName()}">Theta</p>
                </div>
                <div class="problem--info">
                    <p th:text="${p.getComment()}"></p>
                </div>
            </div>
        </a>
<!--        <a>-->
<!--            <div class="problemy">-->
<!--                <div class="problem-main-info">-->
<!--                    <h3>Problém s projektorem</h3>-->
<!--                    <p>Theta</p>-->
<!--                </div>-->
<!--                <div class="problem-info">-->
<!--                    Máme problém v záchodě, někdo nespláchnul hajzl a uvízlo tam hovno asi Lukáš Valla to vysral-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--        <a>-->
<!--            <div class="problemy">-->
<!--            </div>-->
<!--        </a>-->
<!--        <a> -->
<!--            <div class="problemy">-->
<!--                <div class="problem-main-info">-->
<!--                    <h3>Problém s projektorem</h3>-->
<!--                    <p>Theta</p>-->
<!--                </div>-->
<!--                <div class="problem&#45;&#45;info">-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--        <a>-->
<!--            <div class="problemy">-->
<!--                <div class="problem-main-info">-->
<!--                    <h3>Problém s projektorem</h3>-->
<!--                    <p>Theta</p>-->
<!--                </div>-->
<!--                <div class="problem&#45;&#45;info">-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
        <h2>Vyřešené Problémy</h2>
    </main>
    <script src="../static/main.js"></script>
</body>
</html>