<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div sec:authorize="hasRole('ADMIN')" class="button">
            <a th:href = "@{/problemy}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
        <div class="button selected-tab">
            <a th:href="@{../problem-add}">
                <img loading="lazy" decoding="async" src="/add-icon.svg">
            </a>    
        </div>
        <div class="button">
            <a th:href="@{../}">
                <img loading="lazy" decoding="async" src="/problem-icon-svg.svg">
            </a>
        </div>
        <div class="button">
            <a th:href="@{../account}">
                <img loading="lazy" decoding="async" src="/profile-icon.svg">
            </a>
        </div>
    </nav>
    <main>
        <form th:action="@{/api/problem-add}" th:object="${problem}" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Problem Title..." maxlength="60" required th:field="*{name}"/>
            <select th:field="*{classId}">
                <option th:each="class : ${classes}" th:text="${class.name}" th:value="${class.id}"></option>
            </select>
            <textarea name="comment" placeholder="Description" maxlength="256" required th:field="*{comment}"></textarea>
            <input type="hidden" th:name="|userId|" th:value="${userAdd.id}"/>
            <button type="submit">Send</button>
        </form>
    </main>

    <script src="/problemAdd.js"></script>
</body>
</html>